<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div style="display:flex;justify-content:space-between;align-items:center;">
      <div>
        <h3>{{ site.title }}</h3>
        <p>{{ site.description }}</p>
      </div>
      <div>
        {% if site.author.links %}
        {% for link in site.author.links %}
          <a style="margin:0 8px;" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>